.title-header{
    width: 100%;
    cursor: pointer;
    position: fixed;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    background-color: #680a00;
    font-family: "Montserrat", sans-serif;
    font-size: 31.65px;
    padding-bottom: 15px;
    box-shadow: 0px 1px 5px black;
    color: black;
    z-index: 100;
    text-align: center;
}

@media (max-width: 1000px)
{
    .title-header{
        padding-top: 15px;
        font-size: 6.4vw;
    }
}